* {
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;

}
body {
    display: block;
}
.main-content {
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
   
}
.left-section {
    background-color: mediumturquoise;
}
.right-section {
    background-color: lightcoral;
}
.left-content {
    padding:1rem;
}
.profile-image {
    display: block;
    margin: auto;
    width: 60%;
    border:5px solid white;
    border-radius: 30%;  
}
.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

}
.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.one {
    padding: 5px;
}
.two {
    padding: 5px;
}
.three {
    padding: 5px;
}
.skills {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.html {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar-html {
    border:1px solid white;
    height: 4px;
    width: 95%;
}
.css {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar-css {
    border:1px solid white;
    height: 4px;
    width: 85%;
}
.js {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar-js {
    border:1px solid white;
    height: 4px;
    width: 75%;
}
.python {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar-python {
    border:1px solid white;
    height: 4px;
    width: 60%;
}
.php {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar-php {
    border:1px solid white;
    height: 4px;
    width: 40%;
}
 
.right-main-content {
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.para1 {
    text-transform: none;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0.5rem;
    letter-spacing: 1px;;

}
.para2 {
    text-transform: none;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.para3 {
        text-transform: none;
        font-size: 1.2rem;
        font-weight: lighter;
        padding: 0.5rem;
        letter-spacing: 1px;
}

@media screen and (max-width:674px){
    .main-content {
        width:90%;
        min-width: 1000px;
        display: grid;
        grid-template-columns: 300px 700px;
        }
}
@media screen and (min-width:673px) {
    .left-section {
        grid-template-columns: repeat(1,1fr);
    } 
}


